.about-container{
    margin: 0 50px;
    position: relative;
    padding-top: 5%;
    background-color: aliceblue;

    .qualification-container{
        .faceImg{
            border-radius: 50%;
            width: 10%;
            position: absolute;
            top: -5vw;
            left: 7%;
        }
        h1{
            text-shadow: 3px 3px 5px #fff;
        }
        .name{
            font-size: 2.5rem;
        }
        .qualification{
            font-size: 1.5rem;
        }
    }
    .text-about{
        h3.section-title{
            font-size: 2rem;
        }
        .about-description{
            font-size: 1.5rem;
        }
    }
}
@media (max-width: 850px) {
    .about-container {
      margin: 0 10px;
      padding-top: 10%;
      
      .qualification-container {
        .faceImg {
          width: 30%;
          top: -10vw;
          left: 10%;
        }
  
        .name {
          font-size: 1.5rem;
        }
  
        .qualification {
          font-size: 1rem;
        }
      }
  
      .text-about {
        h3.section-title {
          font-size: 1.5rem;
        }
  
        .about-description {
          font-size: 1.2rem;
        }
      }
    }
  }