<div class="about-container row mb-5">
    <div class="qualification-container col-3">
        <img class="faceImg img-fluid" [src]="face" alt="" width="250">
        <h1 class="name text-center">Fernando Reyes</h1>
        <p class="qualification text-center">
            FullStack Developer
        </p>
    </div>
    <div class="text-about col-9">
        <h3 class="section-title">Sobre Mi</h3>
        <p class="about-description text-justify">
            Apasionado por la programación y siempre dispuesto a aprender, he adquirido habilidades en PHP, HTML, CSS,
            Angular, JavaScript, MySQL, SQL Server, MongoDB, C#, C++, y metodologías ágiles como SCRUM. Esforzado y entusiasta,
            disfruto ofreciendo soluciones creativas e innovadoras adaptadas a cada persona, buscando siempre ser un
            aporte valioso para las empresas en las que colaboro.
        </p>
    </div>
</div>